<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input id="name" readonly="readonly">
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript">
    //获取basePath，测试的话就能用就完了
    var obj = window.document.location;
    var BASE_PATH = obj.href.substring(0, obj.href.indexOf(obj.pathname));
    //请求渲染模拟
    $.ajax({
        url: BASE_PATH + "/list",
        type: "get",
        success: function f(data) {
            $("#name").val(data.name);
        }
    })
</script>
</html>