<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button type="button">提交</button>
</body>
<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript">
    //获取basePath，测试的话就能用就完了
    var obj = window.document.location;
    var BASE_PATH = obj.href.substring(0, obj.href.indexOf(obj.pathname));
    //请求传参模拟
    var name = "王五";
    $("button").on("click", function () {
        $.ajax({
            url: BASE_PATH + "/login/" + name,
            type: "get",
            data: {},
            success: function f(data) {
                console.log(data);
                debugger;
                window.location.href = BASE_PATH + "/view/index.html";
            },
            dataType: 'json'
        })
    });
</script>
</html>